<form action="/editCompra/{{compras._id}}" method="POST">
  <div class="mb-3">
    <label for="proveedor" class="form-label">Nombre del proveedor</label>
    <input type="text" class="form-control" id="proveedor" name="proveedor" value="{{compras.proveedor}}">
  </div>
  <div class="mb-3">
    <label for="cuil" class="form-label">Cuil del cliente</label>
    <input type="text" class="form-control" id="cuil" name="cuil" value="{{compras.cuil}}">
  </div>
  <div class="mb-3">
    <label for="monto" class="form-label">Monto de la venta</label>
    <input type="text" class="form-control" id="monto" name="monto" value="{{compras.monto}}">
  </div>
   <div class="mb-3">
    <label for="fecha" class="form-label">Fecha de la venta</label>
    <input type="text" class="form-control" id="fecha" name="fecha" value="{{compras.fecha}}">
  </div>
  
  <div class="boton-container">
      <button type="submit" class="btn btn-primary ">Editar</button>
  </div>
</form>